.logo{
    width: 200px;
    height: auto;
    padding: 1vmin;
    margin-top: -2vmin;
    left: 0;
    animation: bobble 3s infinite;
   
}

@keyframes bobble {
    0% {
      transform: translate3d(0px, -45px, 0px);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translate3d(0px, -35px, 0px);
      animation-timing-function: ease-out;  
    }
    100% {
      transform: translate3d(0px, -45px, 0px);  
    }
  }