/* CSS Custom Properties */
:root {
  --white: #cbdfc7;
  --green-1: #2f4d11;
  --green-2: #1f9355;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --blue: #1e6c88;
  --text-light: #995e2d;
  --text-dark: #371805;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Handlee', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/fruit1.jpg");
  background-size:cover;
  padding: 10vmin;
  height: 100vh;
  cursor: pointer;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    padding: 10vmin;
}

#root {
  height: 100vmin;
}

.align-ctr {
  text-align: center;
  
}

.align-rt {
  text-align: right;
  
}


.smaller {
  font-size: smaller;
}


.flex-col {
  flex-direction: column;
  
}

.flex-j-end {
  justify-content: flex-end;
  
}

.scroll-y {
  overflow-y:hidden;
  
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f9355;
  color: var(--text-dark);
  border: .1vmin solid brown;
  border-radius: 1vmin;
  padding: .3vmin;
  text-align: center;
  font-size: 5vmin;
}

.form-container {
  /* background-color: #27a29e; */
  padding: 3vmin;
  border: .1vmin solid #1e6c88;
  border-radius: 2vmin;
  
 
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.1vmin;
  color: #713c11;
  
}

label {
  font-size: 4vmin;
  display: flex;
  align-items: center;
  padding: 1vmin;
  height: 12vmin;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid #dea97e;
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: #2f4d11;
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: #1e6c88;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .2vmin .8vmin;
}

button.btn-xs {
  font-size: 3vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: #54770f;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}